# # Menu Inicial
# Seja bem vindo(a) ao sistema de gerenciamento de carteira de ações da Nuclea. Selecione uma das opções abaixo:
# 1 - Cliente
# 2 - Ordem
# 3 - Realizar análise da carteira
# 4 - Imprimir relatório da carteira
# 5 - Sair

# # Cliente:
# 1 - Cadastrar Cliente
# 2 - Alterar Cliente
# 3 - Buscar Cliente
# 4 - Deletar Cliente
# 5 - Listar Clientes
# 6 - Voltar ao menu anterior